@model List<Product>

    <div class="row">
        <div class="col-3">

            @await Component.InvokeAsync("Categories")

        </div>

        <div class="col-9">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-4">
                        @await Html.PartialAsync("_product",product);
                    </div>
                }
            </div>
        </div>
    </div>